<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoliang.mapper.AppUserWithdrawMapper">


    <select id="page" resultType="com.haoliang.model.vo.AppUserWithdrawVO"  parameterType="com.haoliang.model.condition.AppUserWithdrawCondition" >
        SELECT
            w.id,u.email,w.coinUnit,w.amount,w.createTime,w.auditTime,w.auditStatus
        FROM
            app_user_withdraw w
        LEFT JOIN
            app_users u
            ON  w.userId=u.id
        WHERE
            1=1
        <if test="param.email!=null and param.email!=''">
            AND u.email=  #{param.email}
        </if>
        <if test="param.auditStatus>-1 ">
            AND w.auditStatus=  #{param.auditStatus}
        </if>
        <if test="param.beginDate!=null">
            AND w.createTime <![CDATA[ >= ]]> #{param.beginDate}
        </if>
        <if test="param.endDate!=null">
            AND w.createTime <![CDATA[ <= ]]> #{param.endDate}
        </if>
    </select>
</mapper>
