<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoliang.mapper.AppUserMapper">

    <select id="findInviteIdByUserId" resultType="java.lang.Integer">
        SELECT  inviteId from app_users where id=#{userId}
    </select>

    <select id="page" resultType="com.haoliang.model.vo.AppUsersVO"  parameterType="com.haoliang.model.condition.AppUsersCondition" >
        SELECT
            u.id,u.email,u.nickName,u.enabled,u.loginCount,u.level,u.inviteCode,
            w.walletAmount,w.principalAmount,w.robotLevel
        FROM
            app_users u
        LEFT JOIN
            wallets  w
            ON  w.userId=u.id
        WHERE
        1=1
        <if test="param.enabled!=null and param.enabled>-1 ">
            AND u.enabled=  #{param.enabled}
        </if>
        <if test="param.email!=null and param.email!=''">
            AND u.email=  #{param.email}
        </if>
        <if test="param.beginDate!=null">
            AND u.createTime <![CDATA[ >= ]]> #{param.beginDate}
        </if>
        <if test="param.endDate!=null">
            AND u.createTime <![CDATA[ <= ]]> #{param.endDate}
        </if>
    </select>

    <select id="getValidUserCountByInviteId" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM
            app_users u
        LEFT JOIN
            wallets  w
            ON  w.userId=u.id
        WHERE
            u.inviteId=#{userId}
            AND
            w.principalAmount  <![CDATA[ > ]]> 0
    </select>

    <select id="selectUserRebotRef" resultType="java.math.BigDecimal">
        SELECT
            w.robotAmount
        FROM
            wallets w
        LEFT JOIN
            app_user_rebot_ref u
            ON  w.userId=u.inviteUserId
        WHERE
            u.userId=#{userId}
    </select>

</mapper>