<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoliang.common.mapper.SysLoginLogMapper">

    <select id="getTodayLoginCount" resultType="java.lang.Long">
        SELECT
             count(distinct username)
        FROM sys_loginlog
        WHERE
            createTime > #{now}
            AND
            userType=2
    </select>
</mapper>