<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoliang.mapper.TreePathMapper">

    <insert id="insertTreePath">
    INSERT INTO tree_paths (ancestor, descendant, LEVEL)
        SELECT t.ancestor,
               #{uid},
               LEVEL + 1
        FROM tree_paths AS t
        WHERE t.descendant = #{pid}
        UNION
            ALL
        SELECT #{pid},
               #{uid},
               1
    </insert>

    <select id="getAllAmountByUserId" resultType="com.haoliang.model.dto.TreePathAmountDTO">
        SELECT
            (w.principalAmount+w.robotAmount) totalAmount,t.descendant
        FROM tree_paths t
        LEFT JOIN
            wallets w
            ON t.descendant=w.userId
        WHERE t.ancestor=#{uid}
    </select>

    <select id="getProfitAmountByUserIdAndLevelList" resultType="com.haoliang.model.dto.TreePathAmountDTO">
       SELECT
            p.generatedAmount totalAmount,t.level
       FROM tree_paths t
       LEFT JOIN
            profit_logs p ON t.descendant=p.userId
       WHERE
            t.ancestor=#{uid}
            AND  p.createDate=#{localDate}
            AND t.level in
        <foreach collection="levelList" item="level" separator="," open="(" close=")">
            #{level}
        </foreach>
    </select>

    <select id="getMinTeamTotalProfitAmount" resultType="java.math.BigDecimal">
        SELECT
            sum(p.generatedAmount)
        FROM tree_paths t
        LEFT JOIN
            profit_logs p
            ON t.descendant=p.userId
        WHERE
            p.createDate=#{localDate}
            AND t.ancestor
            IN(
                SELECT descendant from tree_paths where ancestor=#{uid} and level=1 and largeTeam=0
            )
    </select>

    <select id="getTeamTotalProfitAmount" resultType="java.math.BigDecimal">
        SELECT
            sum(p.generatedAmount)
        FROM tree_paths t
        LEFT JOIN
            profit_logs p
            ON t.descendant=p.userId
        WHERE
            p.createDate=#{localDate}
            AND t.ancestor=#{uid}
            AND t.level>0
    </select>

</mapper>
