<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haoliang.mapper.TreePathMapper">

    <insert id="insertTreePath">
    INSERT INTO tree_paths (ancestor, descendant, LEVEL)
        SELECT t.ancestor,
               #{uid},
               LEVEL + 1
        FROM tree_paths AS t
        WHERE t.descendant = #{pid}
        UNION
            ALL
        SELECT #{pid},
               #{uid},
               1
    </insert>

    <select id="getNumByLevel" resultType="java.util.Map">
        SELECT b.LEVEL,
               count(1) AS NUM
        FROM tree_paths a
                 LEFT JOIN user_info b ON a.descendant = b.id
        WHERE a.ancestor = #{uid}
        GROUP BY b.LEVEL;
    </select>

    <select id="getLevelById" resultType="java.util.Map">
        SELECT b.ID,
               b.LEVEL
        FROM tree_paths a
                 LEFT JOIN user_info b ON a.ancestor = b.id
        WHERE a.ancestor = #{uid}
        GROUP BY b.ID;
    </select>

    <select id="getUserLevelById" resultType="java.util.Map">
        SELECT b.ID,
               b.LEVEL
        FROM user_info b
                 LEFT JOIN tree_paths a ON b.id = a.ancestor
        WHERE b.id = #{uid}
          AND a.descendant = #{uid}
    </select>

    <select id="getPathById" resultType="java.util.Map">
        SELECT a.ancestor,
               a.LEVEL
        FROM tree_paths a
        WHERE a.descendant = #{uid}
          AND a.LEVEL
            IN (1, 2, 3)
    </select>

</mapper>
